th{
    width: 50px;
    height: 50px;
    background-color: red;
    border: 0;
    border-style: none;
    margin: 0;
    padding: 0;
}
.shark{
    background-image: url("assets/img/s2.gif");
    width: 220px;
    height: 100px;
    color: blue;
    position: relative;

    background-size: cover;
}

.plank{
    background-image: url("assets/img/wood1.png");
    width: 100px;
    height: 100px;
    color: blue;
    position: absolute;

    background-size: cover;
}


video { 
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    
    position: fixed;    
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); 
    
    z-index: -100;
    
    background-size: cover;
  /*opacity: 0.6;*/
}